@use "../../../../shared/stylesheets/utils/" as u;

$list-p: 1em;
$bg-color: #8c92ac;

.issues-list {
  display: flex;
  flex-direction: column;
  gap: $list-p;

  padding: $list-p;

  background-color: $bg-color;

  border: 1px solid black;
  border-radius: 0.25em;
}

.issue {
  transition: u.$defaultAnimation;

  &:active {
    opacity: 1 !important;
  }

  &--hovered-over {
    scale: u.$onHoverScale;
    opacity: 0.75;
  }
}
