@use "../../../../shared/stylesheets/fonts/" as *;

.details {
  display: flex;
  gap: 2em;
}

.name {
  color: blue;
  font-weight: $bold;
}

.stars {
  display: flex;
  gap: 0.2em;

  font-weight: $bold;
}
